<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>ParcelDisplay</title>
  </head>
  <body>
    <h1>Welcome to ParcelDisplay</h1>
    <p>@Model.Length, @Model.Width, @Model.Height</p>
    <p>@Model.Volume, @Model.Cost</p>
  </body>
</html>